/* FOOTER */
footer {
	background: linear-gradient(0deg, #222222, #222222), #FBFBFD;
	color: #fff;
	text-align: center;
	padding: 50px 0px 47px;
	@media(min-width:$mobile){
		text-align:left;
		padding:75px 0px 63px;
	}
	#contact-column, #pages-column, #footer-social-media{
		margin-top: 30px;
	
		@media(min-width:$mobile){
			margin-top: 0px;
		}
	}
	h4 {
		margin-top:0px;
		margin-bottom:5px;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		line-height: 150%;
		letter-spacing: 0.28em;
		text-transform: uppercase;

		@media(min-width:$mobile){
			margin-bottom:30px;
		}
	}
}

footer ul {
	margin:0px;
	padding:0px;
	list-style:none;

}
footer ul li  {

}
footer a, footer a:hover, footer a:visited{color:#fff !important;}
footer ul li a, footer ul li a:hover, footer ul li a:visited {
	text-decoration: none;
	color:#fff;
	font-size: 18px;
	line-height: 175%;
	
}
footer p {
	font-size: 18px;
	line-height: 175%;
}
#footer-logo img{
 width:122px;
 max-width:100%;
}

#copyright-row {
	background: #111111;
	padding:10px 0px;
	text-align:center;
}
#copyright-row p {
	font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
letter-spacing: 0.28em;
text-transform: uppercase;
color:#fff;
}
